# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# VS Code configurations
.vscode/

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Data files (Do not track large datasets or raw CSVs)
data/*.csv
data/*.zip

# Figure outputs
plots/*.png
plots/*.pdf